smt==2.13.0
smt-design-space-ext==0.5.1
ConfigSpace==1.2.2
adsg-core==1.4.0
numpy
pandas
scipy
matplotlib
seaborn
plotly
scikit-learn
xgboost
SALib
openturns
geopandas
graphviz
ipython
pydantic
numba
fastapi
uvicorn[standard]
